<section>

    <h2>
        <span class="fragment u-fragment-visible u-fragment-current-red" data-fragment-index="1">Dressing</span>
        <span class="fragment u-fragment-visible u-fragment-current-red" data-fragment-index="2">ITCSS</span>
    </h2>

    <p class="fragment fade-up u-fragment-discrete" data-fragment-index="1">
        <i>vestir, condimentar, alinear</i>
    </p>
    <p class="fragment fade-up u-fragment-discrete" data-fragment-index="2">
        <i>inverted triangle css architecture</i>
    </p>

    <span class="fragment" data-fragment-index="3"></span>

</section>
