<section>

    <div class="s-itcss">
        <div class="o-layout o-layout--middle u-mb--large">
            <div class="o-layout__item u-1/3 u-text--center">
                <img src="images/danifornells.png"/>
                <h2 class="u-font--main u-text--lowercase">@danifornells</h2>
            </div>
            <div class="o-layout__item u-1/3 u-text--center">
                <div class="fragment fade-in">
                    <img src="images/brands/sundio.png"/>
                </div>
            </div>
        </div>
    </div>

    <div class="fragment fade-in">
        <div class="s-itcss">
            <div class="o-layout o-layout--middle u-mb--large">
                <div class="o-layout__item u-1/6">
                    <img src="images/brands/sunweb.png"/>
                </div>
                <div class="o-layout__item u-1/6">
                    <img src="images/brands/eliza.png"/>
                </div>
                <div class="o-layout__item u-1/6">
                    <img src="images/brands/gogo.png"/>
                </div>
                <div class="o-layout__item u-1/6">
                    <img src="images/brands/surfblend.png"/>
                </div>
                <div class="o-layout__item u-1/6">
                    <img src="images/brands/beachmasters.png"/>
                </div>
                <div class="o-layout__item u-1/6">
                    <img src="images/brands/husk.png"/>
                </div>
                <div class="o-layout__item u-1/6">
                    <img src="images/brands/bizztravel.png"/>
                </div>
                <div class="o-layout__item u-1/6">
                    <img src="images/brands/skistuds.png"/>
                </div>
                <div class="o-layout__item u-1/6">
                    <img src="images/brands/skikot.png"/>
                </div>
                <div class="o-layout__item u-1/6">
                    <img src="images/brands/snowblend.png"/>
                </div>
                <div class="o-layout__item u-1/6">
                    <img src="images/brands/ecart.png"/>
                </div>
                <div class="o-layout__item u-1/6">
                    <img src="images/brands/odyc.png"/>
                </div>
            </div>
        </div>
    </div>

</section>
