<section>

    <h3 class="u-text--transform-none u-font--main u-mb--large">Aplicable a <strong>excepciones</strong></h3>

    <pre class="fragment current-visible u-fragment-hide-on-shown medium">
        <code class="hljs html" data-trim>
{% include 05-utilities/04-exceptions-code-bad.html %}
        </code>
    </pre>

    <pre class="fragment current-visible u-fragment-invisible medium">
        <code class="hljs html" data-trim>
{% include 05-utilities/04-exceptions-code.html %}
        </code>
    </pre>

</section>
