<section>

    <h3 class="u-text--transform-none u-font--main u-mb--large">Agrupación de <strong>media queries</strong></h3>

    <div class="s-itcss">
        <div class="o-layout o-layout--middle">
            <div class="o-layout__item u-1/2">
                <pre class="">
                    <code class="hljs css" data-trim>
{% include 05-utilities/13-group-mq.css %}
                    </code>
                </pre>
            </div>
            <div class="o-layout__item u-1/2">
                <pre class="">
                    <code class="hljs css" data-trim>
{% include 05-utilities/13-group-mq-grouped.css %}
                    </code>
                </pre>
            </div>
        </div>
    </div>



</section>
