<section>

    <h3 class="u-text--transform-none u-font--main u-mb--large"><strong>Jerarquía</strong> entre componentes</h3>

    <div class="s-itcss u-mb--medium">
        <div class="o-layout o-layout--middle">
            <div class="o-layout__item u-1/2 u-font--24">
                <h3 class="u-mb--medium u-font--main u-text--transform-none"><strong>Atomic design</strong></h3>
                <ul>
                    <li class="u-mb--tiny">Atoms</li>
                    <li class="u-mb--tiny">Molecules</li>
                    <li class="u-mb--tiny">Organisms</li>
                    <li class="u-mb--tiny">Templates</li>
                </ul>
            </div>
            <div class="o-layout__item u-1/2 u-font--24">
                <h3 class="u-mb--medium u-font--main u-text--transform-none"><strong>Personalizado</strong></h3>
                <ul>
                    <li class="u-mb--tiny">Material</li>
                    <li class="u-mb--tiny">Components</li>
                    <li class="u-mb--tiny">Widgets</li>
                </ul>
            </div>
        </div>
    </div>

    <h4 class="u-mb--medium u-font--main u-text--transform-none fragment"><strong>Menos es más</strong> &#128591;</h4>


</section>
