<section>
    {% include 02-css-specificity/01-title.html %}
    {% include 02-css-specificity/02-element.html %}
    {% include 02-css-specificity/03-class.html %}
    {% include 02-css-specificity/04-id.html %}
    {% include 02-css-specificity/05-important.html %}
    {% include 02-css-specificity/06-neutral.html %}
    {% include 02-css-specificity/07-compare.html %}
    {% include 02-css-specificity/08-declaration-order.html %}
    {% include 02-css-specificity/09-css-stats.html %}
</section>

