<section>
    {% include 06-objects/01-title.html %}
    {% include 06-objects/02-properties.html %}
    {% include 06-objects/03-box.html %}
    {% include 06-objects/04-media.html %}
    {% include 06-objects/05-pack.html %}
    {% include 06-objects/06-layout.html %}
    {% include 06-objects/07-pre-magic.html %}
    {% include 06-objects/07-magic.html %}
    {% include 06-objects/08-perfection.html %}
    {% include 06-objects/09-usage.html %}
    {% include 06-objects/10-feature-toggling.html %}
    {% include 06-objects/11-goodbye.html %}
</section>

