<section>
    {% include 07-components/01-title.html %}
    {% include 07-components/02-principles.html %}
    {% include 07-components/03-properties.html %}
    {% include 07-components/04-variants.html %}
    {% include 07-components/05-states.html %}
    {% include 07-components/06-layout-with-objects.html %}
    {% include 07-components/07-layout-within-component.html %}
    {% include 07-components/08-layout-between-components.html %}
    {% include 07-components/09-hierarchy.html %}
    {% include 07-components/10-no-more-secrets.html %}
</section>

