<section>
    {% include 09-implementing/01-title.html %}
    {% include 09-implementing/02-ask.html %}
    {% include 09-implementing/03-not-lucky.html %}
    {% include 09-implementing/04-on-the-flight.html %}
    {% include 09-implementing/05-scoping-itcss.html %}
    {% include 09-implementing/06-from-center.html %}
    {% include 09-implementing/07-defense.html %}
    {% include 09-implementing/08-shame.html %}
    {% include 09-implementing/09-specificity.html %}
    {% include 09-implementing/10-debug.html %}
    {% include 09-implementing/11-no-excuse.html %}
</section>
