<section>

    <h3 class="u-text--transform-none u-font--main u-mb--large"><span class="u-color--translucent u-font--code">01</span> ITCSS <strong>settings</strong> &#127793;</h3>
    <ul>
        <li class="fragment">Configuración del núcleo
            <ul>
                <li>Root font size</li>
                <li>Espaciado</li>
            </ul>
        </li>
        <li class="fragment">Variables
            <ul>
                <li>Tipos</li>
                <li>Colores</li>
                <li>Breakpoints</li>
                <li>...</li>
            </ul>
        </li>
    </ul>
</section>
