<section>

    <h3 class="u-text--transform-none u-font--main u-mb--large"><span class="u-color--translucent u-font--code">02</span> ITCSS <strong>tools</strong> &#127860;</h3>
    <ul>
        <li class="fragment">Funciones globales
            <ul>
                <li>Conversion unidades</li>
                <li>...</li>
            </ul>
        </li>
        <li class="fragment">Mixins globales
            <ul>
                <li>Media Queries</li>
                <li>Ratios</li>
                <li>Clearfix</li>
                <li>...</li>
            </ul>
        </li>
    </ul>
</section>
