
.u-fragment-visible {
  opacity: 1 !important;
  visibility: inherit !important;
}

.u-fragment-invisible {
  &:not(.current-fragment) {
    display: none !important;
  }
}

.u-fragment-hide-on-shown {
  &.visible:not(.current-fragment) {
    display: none !important;
  }
}

.u-fragment-current-red {
  &.current-fragment {
    color: #ff2c2d !important;
  }
}

.u-fragment-discrete {
  &.visible:not(.current-fragment) {
    opacity: .5 !important;
  }
}