<section>
    <h3 class="u-text--transform-none u-font--code u-mb--huge"><span class="u-color--translucent">000</span>10  <  <span class="u-color--translucent">000</span>13</h3>
    <h3 class="u-text--transform-none u-font--code fragment"><span class="u-color--translucent">0|0|</span>1<span class="u-color--translucent">|0</span>  >  <span class="u-color--translucent">0|0|0|</span>13</h3>

    <div class="c-demo fragment">
        <a href="http://codepen.io/danifornells/pen/KWwjmp?editors=1100" class="c-demo__item">CSS Specificity: 10 is higher than 13</a>
    </div>

</section>
