<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="css/main.css">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Hackathon Girona 2017">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="js/head.min.js" defer></script>
    <script src="js/reveal.js" defer></script>
    <script src="js/main.js" defer></script>

    <!--<script src="https://production-assets.codepen.io/assets/embed/ei.js" defer></script>-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">

</head>
<body>

{{ content }}

</body>
</html>